
* {background-color: #0d0d0d;}


.nav {
    color:white;
    display:flex;
    justify-content:flex-end;
    margin-block-start:0em;
    margin-block-end: 0em;
    margin-right:10px;
    top:0px;
}
.liNavTop {
    margin-top:11px;
    margin-left:1%;
    margin-right:3%;
    width:auto;
    height:26px;
    font-family: 'Inter', sans-serif;
    text-align:center;
    font-weight:200;
    font-size: 20px;
    text-decoration:none;
    list-style:none;
}
.liNavTop a {
    color:white;
    text-decoration:none;
    list-style:none;
}
.liNavTop a:hover {
    color:#EB8613;
}
.activePagebar {
    background-color:white;
    position:relative;
    top:-45px;
    opacity:1;
    height:8px;
    width: 79px;
    margin-top:0px;
    align-items:center;
}


.flex-container {
    display:flex;
}
.logo {
    flex:1;
}
.logoImage img{
    width: clamp(750px, 60vw, 875px);
    height:auto;
    align-content:center;
    justify-content:center;
    margin-left:10%;
}

.mob-wrapper {
    display:none;
}



.projThumbnails {
    flex:2;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    text-align:center;
    margin-top:30px;
    margin-bottom:60px;
    margin-left:10%;
}
.thumbTitles {
    color:white;
    background-color:rgba(0,0,0,0);
    text-align:center;
    font-size:clamp(20px, 2vw, 28px);
    font-weight:200;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration:none;
}
.thumbTitles a{
    color:white;
    background-color:rgba(0,0,0,0);
    text-align:center;
    font-size:clamp(20px, 2vw, 28px);
    font-weight:200;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration:none;
}
.thumbTitles a:hover {
    color:#EB8613;
    background-color:rgba(0,0,0,0);
    text-align:center;
    font-size:clamp(20px, 2vw, 28px);
    font-weight:200;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration:none;
}
.thumbTitles span {
    font-size:clamp(16px, 2vw, 20px);
}

.proj1{
    -webkit-animation: fadeInRight 1.2s both;
    -webkit-animation-delay: 0.5s;
    -moz-animation: fadeInRight 1.2s both;
    -moz-animation-delay: 0.5s;
    -o-animation: fadeInRight 1.2s both;
    -o-animation-delay: 0.5s;
    animation: fadeInRight 1.2s both;
    animation-delay: 0.5s;
}
.proj2{
    -webkit-animation: fadeInRight 1.2s both;
    -webkit-animation-delay: 0.8s;
    -moz-animation: fadeInRight 1.2s both;
    -moz-animation-delay: 0.8s;
    -o-animation: fadeInRight 1.2s both;
    -o-animation-delay: 0.8s;
    animation: fadeInRight 1.2s both;
    animation-delay: 0.8s;
}
.proj3{
    -webkit-animation: fadeInRight 1.2s both;
    -webkit-animation-delay: 1s;
    -moz-animation: fadeInRight 1.2s both;
    -moz-animation-delay: 1s;
    -o-animation: fadeInRight 1.2s both;
    -o-animation-delay: 1s;
    animation: fadeInRight 1.2s both;
    animation-delay: 1s;
}

@-webkit-keyframes fadeInRight {
    0%{
        opacity:0;
        -webkit-transform: translateX(50px);
    }
    100%{
        opacity:1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInRight {
    0%{
        opacity:0;
        -moz-transform: translateX(50px);
    }
    100%{
        opacity:0;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInRight {
    0%{
        opacity:0;
        -o-transform: translateX(50px);
    }
    100%{
        opacity:1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0%{
        opacity:0;
        transform:translateX(50px);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}



.contactInfo {
    color:white;
    display:flex;
    justify-content:flex-end;
    flex-direction:column;
    margin-right: 1%;
    margin-block-start:0em;
    margin-block-end:0em;
}
.liBot {
    list-style:none;
    text-decoration:none;
    font-family: 'Inter', sans-serif;
    text-align:right;
    font-weight:200;
    font-size: 14px;
}
.liBot a {
    color:white;
    text-decoration:none;
    list-style:none;
}
.liBot a:hover {
    color:#EB8613;
}

